# Dependencies
node_modules/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
*.DS_Store
desktop.ini
Thumbs.db

# Build files
build/
dist/
