body 		{background:#DFE3E6;padding-top:15px;}
main		{background:#FFFFFF;}
figure		{height:125px;}
nav			{height:125px;}
nav ul		{margin-top:50px;text-align:right;}
nav ul li	{display:inline;}
nav ul li a,
nav ul li a:visited	{padding:3px 10px;font-size:130%;text-decoration:none;color:#CC1C0D;}

	@media only screen and (max-width: 959px) {}

	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	@media only screen and (max-width: 767px) {
		figure 		{width:100%;text-align:center;}
		nav			{height:40px;padding:0 5px;}
		nav	ul		{text-align:center;margin-top:0;}
		nav ul li a	{font-size:100%;}
		nav select	{width:95%;}
	}

	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	@media only screen and (max-width: 479px) {}
