$font-body: 'Roboto', sans-serif;

$color-primary: #E65C43;
$color-white: #FFF;
$color-gray-666: #666;
$color-bg-footer: #30353D;
$color-greybar: #F5F6F6;
$color-headline: #F25C43;

$img-path: "../images/";
$container: 940px;
